a {
  color: white;
}

.outer-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-container {
  width: 80%;
  height: fit-content;
}

img {
  width: 90px;
  margin-bottom: 40px;
}

h1 {
  margin-bottom: 20px;
}

p {
  line-height: 1.4;
  font-size: 18px;
  margin-bottom: 40px;
}

form {
  margin-bottom: 25px;
  line-height: 1.4;
}

.flex-row-apart {
  display: flex;
  align-items: center;
  font-size: 16px;
  justify-content: space-between;
}

button {
  padding: 7px 15px;
  border-radius: 3px;
  font-size: 16px;
  color: white;
  border: none;
  background-color: #ffffff36;
}